@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 0.125rem solid #3cc82f;
  pointer-events: none;
  width: 100%;

}

span.fromLeft {
  line-height: 2;
}

span.fromLeft:after {
  display: block;
  content: "";
  left: 0;
  border-bottom: 0.155rem solid #3cc82f;
  border-radius: 3px;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  width: 0;
}

span.fromLeft:hover:after {
  width: 100%;
}
